<html  ng-app="myApp">

 <body>

<div>

<table>
<tr><td>Route:</td><td>{{tripData.routeShortName}}</td></tr>
<tr><td>Bus:</td><td> <a target="_blank" href="{{tripData.vehicleLatLong | pointToMapUrl}}">map</a></td></tr>
</table>




 </div>
 
 <table class="maintable">
      <thead>
        <tr>
          <th>Stop number</th>
          <th>Stop name</th>
          <th class="center"></th>
          <th class="center">Scheduled time</th>
          <th class="center">Actual/calculated time</th>
          <th>Direct by air distance from bus</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="passage in tripPassages">
       	  <!-- <td>{{trip.tripId}}</td> -->
       	  <td>{{passage.stopNumber}}</td>
          <td>{{passage.stopName}}</td>
          <td class="center"><a target="_blank" href="{{passage.stopLatLong | pointToMapUrl}}">map</a></td>
          <td class="center">{{passage.scheduledDeparture == null ? passage.scheduledArrival.epochSecond*1000 : passage.scheduledDeparture.epochSecond*1000 | date: 'HH:mm' }}</td>
          <td class="center">{{passage.actualDeparture == null ? passage.actualArrival.epochSecond*1000 : passage.actualDeparture.epochSecond*1000 | date: 'HH:mm' }}</td>
          <td class="center">{{passage.metersFromVehicle}}</td>
        </tr>
      </tbody>
    </table>
 </body>
</html>

