<html ng-app="myApp">
<body>
	<div class="subpagediv container">

		<a href="#">&lt; Back</a>

		<div ng-show="tripData.routeShortName != null">

			<table style="width: 100%">
				<tr>
					<td>Route: {{tripData.routeShortName}}</td>
					<!-- <td style="text-align: right"><a target="_blank"
						href="{{tripData.vehicleLatLong | pointToMapUrl}}">Bus on the map</a></td> -->
			</table>
		</div>

		<div ng-show="tripData.routeShortName == null">Trip has finished
		</div>

		<div>
			<open-street-map model="mapData" container-div-id='mapdiv' ng-show='!!mapData && !!mapData.view' />

			<table class="maintable">
				<thead>
					<tr>
						<th colspan="2">Stop</th>
						<th class="center">Scheduled</th>
						<th class="center"
							title="Provided by Bus Eireann. Times in the past are recorded, in the future calculated.">Actual</th>
						<th class="center"
							title="Line of sight distance between the bus and the stop">Bus
							distance</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="passage in tripPassages">
						<!-- <td>{{trip.tripId}}</td> -->
						<td>{{passage.stopNumber}}</td>
						<td>{{passage.stopName}}</td>
						<!-- <td class="center"><a target="_blank"
							href="{{passage.stopLatLong | pointToMapUrl}}">map</a></td> -->
						<td class="center">{{passage.scheduledDeparture == null ?
							passage.scheduledArrival.epochSecond*1000 :
							passage.scheduledDeparture.epochSecond*1000 | date: 'HH:mm' }}</td>
						<td class="center">{{passage.actualDeparture == null ?
							passage.actualArrival.epochSecond*1000 :
							passage.actualDeparture.epochSecond*1000 | date: 'HH:mm' }}</td>
						<td class="center">{{passage.metersFromVehicle}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>



</html>

