<html  ng-app="myApp">

 <body>
    <div class="subpagediv">
    
    <table class="maintable">
      <thead>
        <tr>
          <!--<th>Trip</th> -->
          <th>Route</th>
          <th>Origin</th>
          <th>Destination</th>
          <th class="center">Bus</th>
          <th class="center">Nearest stop</th>
          <th>Start</th>
          <th>Delay</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="trip in activeTrips">
          <td>{{trip.routeShortName}}</td>
          <td>{{trip.originStopName}}</td>
          <td>{{trip.destinationStopName}}</td>
          <td class="center"><a target="_blank" href="{{trip.vehicleLatLong | pointToMapUrl}}">map</a></td>
          <td>{{trip.nearestStopPointName}}</td>
          <td>{{trip.scheduledStart.epochSecond*1000 | date: 'HH:mm' }}</td>
          <td>{{((trip.actualFinish.epochSecond-trip.scheduledFinish.epochSecond)/60).toFixed(0)}} min(s)</td>
          <td class="center"><a href="#/tripdetails/{{trip.tripId}}">details</a></td>
        </tr>
      </tbody>
    </table>
    
    </div>
  </body>
</html>
