.maintable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 8px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #6c9;
}
.maintable th
{
	padding: 6px 4px 6px 4px;
	font-weight: normal;
	font-size: 14px;
	color: #093;
	border-bottom: 1px dashed #6c9;
	
}
.maintable th.center
{
	text-align:center;
}

.maintable td
{
	padding: 4px 4px 4px 4px;
	color: #696;
}

.maintable td.center
{
	text-align:center;
}

.maintable tbody tr:hover td
{
	color: #393;
	background: #d0fdda;
}


