<!DOCTYPE html>
<html ng-app="myApp">

<head>
<style>
#mapdiv {
	height: 50vh;
}
</style>



</head>

<body>

	<div class="subpagediv container-fluid">

		<div class="col-lg-12">
			<span ng-repeat="r in routes" style="padding-right: 10px"><div
					style="display: inline-block">
					<input type="checkbox" ng-click="onRouteSelectionChanged()"
						ng-model="r.onmap">{{r.shortName}}</input>
				</div> </span>
		</div>

		<div class="col-lg-12">
			<open-street-map model="mapData" container-div-id='mapdiv'
				ng-show='!!mapData && !!mapData.view'
				listen-on-pin-selected='vehicle.tablePinSelected'
				emit-on-pin-selected="vehicle.mapPinSelected" />

		</div>

		<div class="col-lg-12">
			<table class="maintable">
				<thead>
					<tr>
						<th></th>
						<th>Route</th>
						<!--<th></th>-->
						<!-- <th class="d-none d-sm-block">Origin</th>-->
						<th class="hidden-xs">Origin</th>
						<th>Destination</th>

						<th class="hidden-xs">Nearest stop</th>
						<th title="Scheduled start">Start</th>
						<th>Delay</th>
						<!-- <th></th> -->
					</tr>
				</thead>

				<!-- ng-show="selectedRoutes.length === 0 || selectedRoutes.indexOf(trip.routeShortName) >= 0" -->
				<tbody>
					<tr id="vehicles_row_{{trip.vehicleId}}"
						ng-repeat="trip in selectedActiveTrips">
						<td><img title="Select on map" class="maintable-pin-img"
							src="{{trip.tripDirection === 1 ? 'img/bus.png' : 'img/bus2.png'}}" alt="Map"
							ng-click="tablePinSelected(trip.vehicleId)" /></td>
						<td><a title="Open details"
							href="#/tripdetails/{{trip.tripId}}">{{trip.routeShortName}}</a></td>
						<!-- <td><input type="button" value="Map" ng-click="tablePinSelected(trip.vehicleId)"/></td> -->
						<!-- <td></td> -->
						<!-- <td class="d-none d-sm-block">{{trip.originStopName}}</td> -->
						<td class="hidden-xs">{{trip.originStopName}}</td>
						<td>{{trip.destinationStopName}}</td>
						<td class="hidden-xs">{{trip.nearestStopPointName}}</td>
						<td>{{trip.scheduledStart * 1000 | date: 'HH:mm' }}</td>
						<!--<td>{{((trip.actualFinish-trip.scheduledFinish)/60).toFixed(0)}} <span class="d-none d-sm-block">min(s)</span><span class="d-sm-none">m</span></td>-->
						<td>{{((trip.actualFinish-trip.scheduledFinish)/60).toFixed(0)}}
							min</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="col-lg-12">
			<osm-copy-right />
		</div>
	</div>
</body>
</html>
