<!DOCTYPE html>
<html ng-app="myApp">

<body>
	<div class="subpagediv container-fluid">

		<a href="#/tripdetails/{{tripId}}">&lt; Back</a>
		
		<p> Traffic info for trip {{tripId}}</p>
		
		
		<table class="maintable" ng-show="!!tripTrafficFormatted">
				<thead>
					<tr>
						<th colspan="2">Stop</th>
						<!-- <th class="center"><span class="d-none d-sm-block">Scheduled</span><span class="d-sm-none">Sch.</span></th> -->
						<th colspan="5">Durations</th>
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tripTraffic in tripTrafficFormatted">
						<!-- <td>{{trip.tripId}}</td> -->
						<td>{{tripTraffic.stopNumber}}</td>
						<td>{{tripTraffic.stopName}}</td>
						
						<!--  <td title="{{tripTraffic.routeShortName1}} {{tripTraffic.starttime1 * 1000 | date: 'HH:mm:ss'}} {{tripTraffic.finishtime1 * 1000 | date: 'HH:mm:ss'}}">{{tripTraffic.tripId1}} {{tripTraffic.routeShortName1}} <a href="#/tripdetails/{{tripTraffic.tripId1}}">{{tripTraffic.duration1 == null ? '' : tripTraffic.duration1}}</a></td>
						<td title="{{tripTraffic.routeShortName2}} {{tripTraffic.starttime2 * 1000 | date: 'HH:mm:ss'}} {{tripTraffic.finishtime2 * 1000 | date: 'HH:mm:ss'}}">{{tripTraffic.tripId2}} {{tripTraffic.routeShortName2}} <a href="#/tripdetails/{{tripTraffic.tripId2}}">{{tripTraffic.duration2 == null ? '' : tripTraffic.duration2}}</a></td>
						<td title="{{tripTraffic.routeShortName3}} {{tripTraffic.starttime3 * 1000 | date: 'HH:mm:ss'}} {{tripTraffic.finishtime3 * 1000 | date: 'HH:mm:ss'}}">{{tripTraffic.tripId3}} {{tripTraffic.routeShortName3}} <a href="#/tripdetails/{{tripTraffic.tripId3}}">{{tripTraffic.duration3 == null ? '' : tripTraffic.duration3}}</a></td>
						<td title="{{tripTraffic.routeShortName4}} {{tripTraffic.starttime4 * 1000 | date: 'HH:mm:ss'}} {{tripTraffic.finishtime4 * 1000 | date: 'HH:mm:ss'}}">{{tripTraffic.tripId4}} {{tripTraffic.routeShortName4}} <a href="#/tripdetails/{{tripTraffic.tripId4}}">{{tripTraffic.duration4 == null ? '' : tripTraffic.duration4}}</a></td>
						<td title="{{tripTraffic.routeShortName5}} {{tripTraffic.starttime5 * 1000 | date: 'HH:mm:ss'}} {{tripTraffic.finishtime5 * 1000 | date: 'HH:mm:ss'}}">{{tripTraffic.tripId5}} {{tripTraffic.routeShortName5}} <a href="#/tripdetails/{{tripTraffic.tripId5}}">{{tripTraffic.duration5 == null ? '' : tripTraffic.duration5}}</a></td>
						
						 -->
						
						<td title="{{tripTraffic.routeShortName1}} {{tripTraffic.starttime1 * 1000 | date: 'HH:mm:ss'}} {{tripTraffic.finishtime1 * 1000 | date: 'HH:mm:ss'}}"><a href="#/tripdetails/{{tripTraffic.tripId1}}">{{tripTraffic.duration1 == null ? '' : tripTraffic.duration1}}</a></td>
						<td title="{{tripTraffic.routeShortName2}} {{tripTraffic.starttime2 * 1000 | date: 'HH:mm:ss'}} {{tripTraffic.finishtime2 * 1000 | date: 'HH:mm:ss'}}"><a href="#/tripdetails/{{tripTraffic.tripId2}}">{{tripTraffic.duration2 == null ? '' : tripTraffic.duration2}}</a></td>
						<td title="{{tripTraffic.routeShortName3}} {{tripTraffic.starttime3 * 1000 | date: 'HH:mm:ss'}} {{tripTraffic.finishtime3 * 1000 | date: 'HH:mm:ss'}}"><a href="#/tripdetails/{{tripTraffic.tripId3}}">{{tripTraffic.duration3 == null ? '' : tripTraffic.duration3}}</a></td>
						<td title="{{tripTraffic.routeShortName4}} {{tripTraffic.starttime4 * 1000 | date: 'HH:mm:ss'}} {{tripTraffic.finishtime4 * 1000 | date: 'HH:mm:ss'}}"><a href="#/tripdetails/{{tripTraffic.tripId4}}">{{tripTraffic.duration4 == null ? '' : tripTraffic.duration4}}</a></td>
						<td title="{{tripTraffic.routeShortName5}} {{tripTraffic.starttime5 * 1000 | date: 'HH:mm:ss'}} {{tripTraffic.finishtime5 * 1000 | date: 'HH:mm:ss'}}"><a href="#/tripdetails/{{tripTraffic.tripId5}}">{{tripTraffic.duration5 == null ? '' : tripTraffic.duration5}}</a></td>
						
					</tr>
				</tbody>
			</table>
		
		
	</div>
	
	
	
	
</body>
</html>