<!DOCTYPE html>
<html ng-app="myApp">
<head>
<style>
</style>

<script src="welcome.js"></script>

</head>

<body>

	<div class="subpagediv container-fluid">

		<div class="col-lg-12">

			<div style="background-color: #eee; padding: 10px;">
				<div style="text-align: center;">
					<H1>Welcome</H1>
				</div>

				Please note a few things.

				<ul>
					<li>This application &quot;steals&quot; data from buseireann.
						If their data is wrong then what this application displays is also
						going to be wrong. <i><u>You might miss a bus because of
								this!</u></i>
					</li>

					<li>This application is a hobby application so it can make
						mistakes, it can be inaccurate and it can be down for a long time.
						Do not trust it, figure out its reliability yourself. Always use
						the buseireann website if you need the most trustworthy data
						available. <i><u>You might miss a bus because of this!</u></i>
					</li>

					<li>When operating normally this application is up to 1.5
						minutes behind the buseireann website. <i><u>You might
								miss a bus because of this!</u></i>
					</li>

					<li>The hosting of this application is not solved meaning it
						can disappear from the web any time. If you have a hosting
						solution that you are happy to offer for this purpose please
						contact me at <br /> <i>bjdodo at hotmail dot com</i>
					</li>
				</ul>

				<div style="text-align: center;">
					<button type="button" class="btn btn-primary"
						onclick="window.location.href='#/trips/'">Enter site</button>
				</div>

			</div>
		</div>
	</div>

</body>
</html>