[Unit]
Description=ie-citybus-galway
#Requires=mysqld.service memcached.service #May your script needs mysql or other services to run.
#After=mysqld.service memcached.service

[Service]
User=root
Type=simple
TimeoutSec=0
PIDFile=/var/run/ie-citybus-galway.pid
ExecStart=/usr/bin/java -Xmx384m -jar -Dspring.profiles.active=limerick /root/ie-citybus/ie-city-bus-1.0.17.jar
WorkingDirectory=/root/ie-citybus/
#ExecStop=/bin/kill -HUP $MAINPID
#ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

Restart=on-failure
RestartSec=42s

StandardOutput=null #If you don't want to make toms of logs you can set it null if you sent a file or some other options it will send all php output to this one.
StandardError=null #path to error log file
[Install]
WantedBy=default.target
